doctype html
html
  head
    title Стартовая страница
    // Bootstrap
    link(href='css/bootstrap.min.css', rel='stylesheet')
  body.container
    h1 Все, что нужно знать про запросы в MongoDB
    p Основное задание
      ul
        li Создать простое приложение на Express.js «Записная книжка» в виде API:
        li Список телефонов с фамилией и именем;
        li Добавление нового контакта;
        li Редактирование старой информации;
        li Удаление контакта;
        li Поиск по номеру телефона, фамилии, имени.
    p Дополнительное задание
        li Приложение на Express.js c WEB интерфейсом;
        li Валидация входящих данных и показ ошибок в Веб интерфейсе;
        li Добавление к контакту дополнительной информации. Например skype, email. У каждого пользователя эта информация может быть разной;
        li Показ подробной информации о пользователе.
    a.btn.btn-default(href='/phonebook') Вход
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='js/bootstrap.min.js')
