
<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>
<div class="panel-body">

    <form name="vm.myAccountForm" novalidate>
        <div class="form-group">
            <label>Имя</label>
            <input class="form-control" data-ng-model="vm.account.name" type="text" placeholder="Имя" required ng-minlength="3" name="accountName">
        </div>
 
        <div ng-messages="vm.myAccountForm.accountName.$error" ng-if="vm.myAccountForm.accountName.$dirty">

            <div ng-message="required" class="alert alert-danger" role="alert">А где имя?</div>
            <div ng-message="minlength" class="alert alert-danger" role="alert">Имя слишком короткое</div>

        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input class="form-control" data-ng-model="vm.account.email" type="text" placeholder="Почта" data-ng-pattern="/^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$/" name="accountEmail" required>
        </div>

        <div role="alert" ng-messages="vm.myAccountForm.accountEmail.$error" ng-if="vm.myAccountForm.accountEmail.$dirty">
            <div ng-message="pattern" class="alert alert-danger">Это значение не похоже на адрес электронной почты</div>
        </div>

        <div class="form-group">
            <label>Телефон</label>
            <input class="form-control" data-ng-model="vm.account.phoneNumber" type="text" placeholder="Телефонный номер" data-ng-pattern="/^((\+7)[\- ]?)?[0-9()\-]+$/" name="phoneNumber" required>
        </div>

        <div role="alert" ng-messages="vm.myAccountForm.phoneNumber.$error" ng-if="vm.myAccountForm.phoneNumber.$dirty">
            <div ng-message="pattern" class="alert alert-danger">Это значение не похоже на Телефонный номер</div>
        </div>

        <button type="submit" class="btn btn-default" data-ng-click="vm.addData(vm.account)" data-ng-disabled="vm.myAccountForm.$invalid">Сохранить</button>

        <br />

    </form>
</div>

<div class="panel-body">

    <pre>myAccountForm.pokemonName.$error = {{ vm.myAccountForm.accountName.$error | json }}</pre>
    <pre>myAccountForm.pokemonWeight.$error = {{ vm.myAccountForm.accountEmail.$error | json }}</pre>
    <pre>myAccountForm.pokemonWeight.$error = {{ vm.myAccountForm.phoneNumber.$error | json }}</pre>

</div>